@import './config.scss';

.header_color {
    background: $lightBlue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, $darkBlue, $lightBlue);
    background: -o-linear-gradient(left, $darkBlue, $lightBlue);
    background: linear-gradient(to right, $darkBlue, $lightBlue);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .main__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .landing-grid {
    background: $lightBlue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, $darkBlue, $lightBlue);
    background: -o-linear-gradient(left, $darkBlue, $lightBlue);
    background: linear-gradient(to right, $darkBlue, $lightBlue);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  .Smiley-img {
    height: 250px;
    padding-top: 2em;
  }

  .banner-text {
    width: 55%;
    margin: auto;
    border-radius: 10px;
  }

  .banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
  }
  .banner-text p {
    color: white;
    font-size: 20px;
    padding-bottom: 1em;
  }


  .dalkur-text {
    background-color: black;
    opacity: .8;
    width: 55%;
    margin: auto;
    border-radius: 10px;
  }

  .dalkur-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
  }

  .dalkur-text h2 {
    font-family: Oxygen;
    font-size: 45px;
    font-weight: bold;
    color: white;
  }

  .dalkur-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }

  .lysing-text {
    background-color: black;
    opacity: .8;
    width: 55%;
    margin: auto;
    border-radius: 10px;
  }

  .lysing-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }


  .container-fluid {
      width: 100%;
      margin: auto;
  }


.Button {
  font-family: serif;
}


// Imports
@import '../../components/Backdrop/Backdrop.scss'; 
@import '../../components/SideDrawer/DrawerToggleButton.scss';
@import '../../components/SideDrawer/SideDrawer.scss';
@import '../../components/Toolbar/Toolbar.scss';
@import '../../components/Download/Download.scss';
@import '../../components/Esuitcase/Esuitcase.scss';
@import '../../components/Uses/Uses.scss';