.download {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;
    }

    &__section {
        width: 80%;
    }
}
